<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="/resources.mapper.articleMapper">

    <insert id="insertArticle" parameterType="weonforall.capstone.news_recommendation.domain.ArticleVO">
        INSERT INTO innodb.Article (
            aid,
            title,
            timestamp,
            contentPath,
            score,
            url,
            uploadedTimestamp
        ) VALUES (
            #{aid},
            #{title},
            #{timestamp},
            #{contentPath},
            #{score},
            #{url},
            #{uploadedTimestamp}
        )
    </insert>

    <select id="getArticle" resultType="weonforall.capstone.news_recommendation.domain.ArticleVO">
        SELECT *
        FROM innodb.Article
        WHERE aid = #{aid}
    </select>
</mapper>
